<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<real>163695.5625</real>
		<key>name</key>
		<string>California</string>
		<key>population</key>
		<integer>33871648</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>268580.8125</real>
		<key>name</key>
		<string>Texas</string>
		<key>population</key>
		<integer>20851820</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>54556</real>
		<key>name</key>
		<string>New York</string>
		<key>population</key>
		<integer>18976457</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>65754.59375</real>
		<key>name</key>
		<string>Florida</string>
		<key>population</key>
		<integer>15982378</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>57914.37890625</real>
		<key>name</key>
		<string>Illinois</string>
		<key>population</key>
		<integer>12419293</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>46055.23828125</real>
		<key>name</key>
		<string>Pennsylvania</string>
		<key>population</key>
		<integer>12281054</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>44824.8984375</real>
		<key>name</key>
		<string>Ohio</string>
		<key>population</key>
		<integer>11353140</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>96716.109375</real>
		<key>name</key>
		<string>Michigan</string>
		<key>population</key>
		<integer>9938444</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>8721.2998046875</real>
		<key>name</key>
		<string>New Jersey</string>
		<key>population</key>
		<integer>8414350</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>59424.76953125</real>
		<key>name</key>
		<string>Georgia</string>
		<key>population</key>
		<integer>8186453</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>53818.51171875</real>
		<key>name</key>
		<string>North Carolina</string>
		<key>population</key>
		<integer>8049313</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>42774.19921875</real>
		<key>name</key>
		<string>Virginia</string>
		<key>population</key>
		<integer>7078515</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>10554.5703125</real>
		<key>name</key>
		<string>Massachusetts</string>
		<key>population</key>
		<integer>6349097</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>36417.73046875</real>
		<key>name</key>
		<string>Indiana</string>
		<key>population</key>
		<integer>6080485</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>71299.640625</real>
		<key>name</key>
		<string>Washington</string>
		<key>population</key>
		<integer>5894121</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>42143.26953125</real>
		<key>name</key>
		<string>Tennessee</string>
		<key>population</key>
		<integer>5689283</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>69704.3125</real>
		<key>name</key>
		<string>Missouri</string>
		<key>population</key>
		<integer>5595211</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>65497.8203125</real>
		<key>name</key>
		<string>Wisconsin</string>
		<key>population</key>
		<integer>5363675</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>12406.6796875</real>
		<key>name</key>
		<string>Maryland</string>
		<key>population</key>
		<integer>5296486</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>113998.296875</real>
		<key>name</key>
		<string>Arizona</string>
		<key>population</key>
		<integer>5130632</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>86938.8671875</real>
		<key>name</key>
		<string>Minnesota</string>
		<key>population</key>
		<integer>4919479</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>51839.69921875</real>
		<key>name</key>
		<string>Louisiana</string>
		<key>population</key>
		<integer>4468976</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>52419.01953125</real>
		<key>name</key>
		<string>Alabama</string>
		<key>population</key>
		<integer>4447100</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>104093.5703125</real>
		<key>name</key>
		<string>Colorado</string>
		<key>population</key>
		<integer>4301261</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>40409.01953125</real>
		<key>name</key>
		<string>Kentucky</string>
		<key>population</key>
		<integer>4041769</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>32020.19921875</real>
		<key>name</key>
		<string>South Carolina</string>
		<key>population</key>
		<integer>4012012</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>69898.1875</real>
		<key>name</key>
		<string>Oklahoma</string>
		<key>population</key>
		<integer>3450654</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>98380.640625</real>
		<key>name</key>
		<string>Oregon</string>
		<key>population</key>
		<integer>3421399</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>5543.330078125</real>
		<key>name</key>
		<string>Connecticut</string>
		<key>population</key>
		<integer>3405565</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>56271.55078125</real>
		<key>name</key>
		<string>Iowa</string>
		<key>population</key>
		<integer>2926324</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>48430.19140625</real>
		<key>name</key>
		<string>Mississippi</string>
		<key>population</key>
		<integer>2844658</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>82276.84375</real>
		<key>name</key>
		<string>Kansas</string>
		<key>population</key>
		<integer>2688418</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>53178.62109375</real>
		<key>name</key>
		<string>Arkansas</string>
		<key>population</key>
		<integer>2673400</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>84898.828125</real>
		<key>name</key>
		<string>Utah</string>
		<key>population</key>
		<integer>2233169</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>110560.7109375</real>
		<key>name</key>
		<string>Nevada</string>
		<key>population</key>
		<integer>1998257</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>121589.4765625</real>
		<key>name</key>
		<string>New Mexico</string>
		<key>population</key>
		<integer>1819046</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>24229.759765625</real>
		<key>name</key>
		<string>West Virginia</string>
		<key>population</key>
		<integer>1808344</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>77353.7265625</real>
		<key>name</key>
		<string>Nebraska</string>
		<key>population</key>
		<integer>1711263</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>83570.078125</real>
		<key>name</key>
		<string>Idaho</string>
		<key>population</key>
		<integer>1293953</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>35384.6484375</real>
		<key>name</key>
		<string>Maine</string>
		<key>population</key>
		<integer>1274923</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>9349.9404296875</real>
		<key>name</key>
		<string>New Hampshire</string>
		<key>population</key>
		<integer>1235786</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>10930.98046875</real>
		<key>name</key>
		<string>Hawaii</string>
		<key>population</key>
		<integer>1211537</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>1545.050048828125</real>
		<key>name</key>
		<string>Rhode Island</string>
		<key>population</key>
		<integer>1048319</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>147042.40625</real>
		<key>name</key>
		<string>Montana</string>
		<key>population</key>
		<integer>902195</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>2489.27001953125</real>
		<key>name</key>
		<string>Delaware</string>
		<key>population</key>
		<integer>783600</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>77116.4921875</real>
		<key>name</key>
		<string>South Dakota</string>
		<key>population</key>
		<integer>754844</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>70699.7890625</real>
		<key>name</key>
		<string>North Dakota</string>
		<key>population</key>
		<integer>642200</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>663267.25</real>
		<key>name</key>
		<string>Alaska</string>
		<key>population</key>
		<integer>626932</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>9614.259765625</real>
		<key>name</key>
		<string>Vermont</string>
		<key>population</key>
		<integer>608827</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>68.339996337890625</real>
		<key>name</key>
		<string>District of Columbia</string>
		<key>population</key>
		<integer>572059</integer>
	</dict>
	<dict>
		<key>area</key>
		<real>97813.5625</real>
		<key>name</key>
		<string>Wyoming</string>
		<key>population</key>
		<integer>493782</integer>
	</dict>
</array>
</plist>
